<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="br.unipar.ambientes.aplicacao.interno.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="br.unipar.ambientes.perspective.Perspective"
            id="br.unipar.ambientes.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="br.unipar.ambientes.application"
            name="Ambientes Visuais - Unipar">
         <property
               name="appName"
               value="Ambientes Visuais - Unipar">
         </property>
      </product>
   </extension>

</plugin>
